<form onsubmit={{action this.handleCreate}}>
  Product Name: <Input @type="text" id="pname" @value={{this.pname}} />
  description: <Input @type="text" @value={{this.descriptions}} />
  Actual Price: <Input @type="number" @value={{this.oprice}} />
  Offered Price: <Input @type="number" @value={{this.cprice}} />
  proimg: <Input @type="text" @value={{this.proimg}} />
  <button type="submit">Create Product</button>
</form>
<script>var jqr=require('jquery')</script>
