<h2 style="margin: 2% 5% 5%;"> Create New Treatement Information</h2>


<form onsubmit={{action this.handleUpdate}}>
<div class="form-group-row">
    <label for="cname" class="col-sm-4 col-form-label">ID</label>
    <Input @type="text" id="id" @value={{@id}} class="form-control" />
  </div>

  <div class="form-group-row">
    <label for="cname" class="col-sm-4 col-form-label">Treatement Name</label>
    <Input @type="text" id="pname" @value={{@pname}} class="form-control" />
  </div>
  <div class="form-group-row">
    <label for="descriptions" class="col-sm-6 col-form-label">Treatement Description</label>
     <Input @type="text" id="description" class="form-control" @value={{@descriptions}} />
  </div>
    <div class="form-group-row">
    <label for="oprice" class="col-sm-4 col-form-label">Previous Price</label>
     <Input @type="text" id="oprice" class="form-control" @value={{@oprice}} />
  </div>
    <div class="form-group-row">
    <label for="cname" class="col-sm-4 col-form-label">Current Price</label>
     <Input @type="text" id="cprice" class="form-control" @value={{@cprice}}/>
  </div>
    <div class="form-group-row">
    <label for="proimg" class="col-sm-4 col-form-label">Treatement Image</label>
     <Input @type="text" id="proimg" class="form-control" @value={{@proimg}}/>
  </div>
  <button type="submit" class="btn btn-primary mt-4">Update Product</button>
</form>
<script>var jqr=require('jquery')</script>