
{{!-- {{#each @products as |product|}}
 {{!-- <LinkTo @route="productdetail" @model={{product.pid}}>{{product.pname}}</LinkTo> --}}



<li>
<LinkTo @route="productdetail" @model={{@product.id}} class="product">
<Product::Image @src={{@product.proimg}} @toggleZoom={{this.toggleZoom}}/>
<Product::Details @pname={{@product.pname}} @oprice={{@product.oprice}} @cprice={{@product.cprice}}/>
</LinkTo>

  </li>


