<GeneralContainer>
  <h2 style="margin: 2% 5% 5%;"> UPdate Treatement Information</h2>

<form onsubmit={{action this.handleUpdate}}>
  <div class="form-group-row">
    <label for="cname" class="col-sm-2 col-form-label">Treatement Name</label>
    <Input @type="text" id="pname" @value={{this.pname}} class="form-control" />
  </div>
  <div class="form-group-row">
    <label for="descriptions" class="col-sm-3 col-form-label">Treatement Description</label>
     <Input @type="text" @value={{this.descriptions}} class="form-control" />
  </div>
    <div class="form-group-row">
    <label for="oprice" class="col-sm-2 col-form-label">Previous Price</label>
     <Input @type="text" @value={{this.oprice}} class="form-control" />
  </div>
    <div class="form-group-row">
    <label for="cname" class="col-sm-2 col-form-label">Current Price</label>
     <Input @type="text" @value={{this.cprice}} class="form-control" />
  </div>
    <div class="form-group-row">
    <label for="proimg" class="col-sm-2 col-form-label">Treatement Image</label>
     <Input @type="text" @value={{this.proimg}} class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary mt-4">Update Product</button>
</form>
<script>var jqr=require('jquery')</script>
</GeneralContainer>