<GeneralAdminContainer>
  <div style="margin:100px 270px">
  <ProductEdit @id={{this.model.id}} @pname={{this.model.pname}} @descriptions={{this.model.descriptions}} @oprice={{this.model.oprice}} @cprice={{this.model.cprice}} @proimg={{this.model.proimg}}/>
</div>
</GeneralAdminContainer>