<div class="product-details">

  {{!-- Header --}}
  <section>
    <h5>{{@pname}}</h5>
    <div class="text-warning">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
    </div>
  </section>

  {{!-- Price --}}
  <section class="{{unless @isDeatils 'h6'}}">
    <del class="small text-black-50">{{currency @oprice}}</del>
    <i class="text-danger font-weight-bold">{{currency @cprice}}</i>
  </section>
  {{#if @isDetails}}
  <div class="d-flex justify-content-between align-item-end">
    <button class="btn btn-info" type="button" {{on "click" this.addToCart}}>
      <i class="fa fa-shopping-cart-mr-1"></i>
      Add to Claim
    </button>
  </div>
  {{/if}}
</div>