<GeneralContainer>
<main class="container mt-5" style="display: inline">
  <h1>Your Claims</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <LinkTo @route="index">
        Home
      </LinkTo>
    </li>
    <li class="breadcrumb-item">Your Claims</li>
  </ol>
  {{#each this.cart.itemList as |item|}}
  <div class="cart-item d-flex align-item-center">
    <div class="cart-item-thumbnail">
      <img src="{{item.src}}" alt="" width="200" height="150"/>
    </div>
    <div class="ml-3">
      <h4>{{item.pname}}</h4>
      <i class="font-weight-bold">{{currency item.cprice}}</i>
    </div>
    <input type="number" class="ml-auto" value={{item.count}} {{on "input" (fn this.updateItemCount item)}}>
  </div>
  {{/each}}

  <section class="w-50 ml-auto text-right mb-5">
    <div class="row">
      <span class="col">Subtotal</span>
      <span class="col">{{currency this.subtotal }}</span>
    </div>
    <div class="row">
      <span class="col">Tax</span>
      <span class="col">{{currency this.tax }}</span>
    </div>
    <div class="row">
      <span class="col">Grand Total</span>
      <span class="col">{{currency this.total }}</span>
    </div>
  </section>
  <form onsubmit={{action this.createClaim}}>
    <div class="form-group-row">
    <label for="claimedDate" class="col-sm-2 col-form-label">Claimed Date</label>
    <Input @type="date" placeholder="2022/2/12" @value={{this.ClaimedDate}} class="form-control" />
    </div>
    <div class="form-group-row">
    <label for="ssn" class="col-sm-3 col-form-label">Social Security Number</label>
    <Input @type="text" placeholder="32424235" @value={{this.ssn}} class="form-control" />
    </div>

    <Input @type="hidden" @value={{this.total}} class="form-control" />


  <button type="submit" class="btn btn-success float-right mt-3">
    Claim Now
  </button>
  </form>
</main>
</GeneralContainer>