{{page-title "Productdetail"}}
<GeneralContainer>
<div class="product item-details-page {{if this.isZoomed 'is-zoomed'}}">
  <Product::Image @src={{this.model.proimg}} @toggleZoom={{this.toggleZoom}}/>
  <Product::Details @pname={{this.model.pname}} @src={{this.model.proimg}} @oprice={{this.model.oprice}} @cprice={{this.model.cprice}} @isDetails={{true}}/>
</div>
<h5 class="mt-5">Description</h5>
<p>{{this.model.descriptions}}</p>

</GeneralContainer>


