{{page-title "Productdetail"}}
<GeneralContainer>
<div class="product item-details-page">
  <Product::Image @src={{this.model.proimg}}/>
  <Product::Details @pname={{this.model.pname}} @oprice={{this.model.oprice}} @cprice={{this.model.cprice}}/>
</div>
<h5 class="mt-5">Description</h5>
<p>{{this.model.descriptions}}</p>

</GeneralContainer>


